.main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: 100%;
  padding: 0 30% 0 10%;
  gap: 10%;

  .title {
    font-size: 20px;
    padding: 20px 0;
  }

  .basic-info {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .avatar-and-id {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      gap: 10px;
      margin-bottom: auto;

      .el-upload {
        position: absolute;
        left: 0;
        bottom: 5px;
      }

      p {
        font-size: 20px;
        margin: 0;
        color: $su-grey;
      }
    }

    .name-and-bio {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 0 20px;
      gap: 10px;

      bio-panel {
        width: 300px;
        height: 200px;
      }
    }
  }

  .theme-and-button {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .theme {
      display: flex;
      flex-direction: row;
      align-items: center;
      // justify-content: center;
      gap: 30px;
    }

    .button {
      margin-top: 20px;
    }
  }

  .danger-place {
    display: flex;
    flex-direction: column;
    font-size: 18px;

    .danger-option {
      color: red;
      cursor: pointer;
    }

    .danger-option:hover {
      font-weight: bold;
    }
  }
}
