.card-container {
  width: fit-content;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
  margin-left: 24px;
  margin-bottom: 24px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition-property: all;
  background-color: #fff;
  user-select: none;
}

.card-container:hover {
  transform: translateY(-4px);
}

.card-body {
  /* background-color: aliceblue; */
  padding: 14px 18px 5px 18px;
}

.q-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #66b0ff;
}

.q-body {
  display: flex;
  flex-direction: column;

  .text {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    display: block;
    line-height: 1.25;
    color: #333;
    margin-bottom: 8px;
  }

  .md-container {
    position: relative;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 8px;
    .md-preview {
      /* background: rgb(239, 188, 120); */
      width: calc(100% + 36px);
      margin: -20px -18px;
    }
  }

  .md-container::after {
    content: "";
    position: absolute;
    top: 250px;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to bottom, transparent, rgb(125, 125, 125));
    filter: blur(5px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .md-container:hover::after {
    opacity: 1;
  }

  .md-container-all {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 8px;

    .md-preview {
      /* background: rgb(239, 188, 120); */
      width: calc(100% + 36px);
      margin: -20px -18px;
    }
  }

  .photos-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    .preview-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}

.q-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .looks {
    display: flex;
    align-items: center;
    margin-right: 16px;

    .counts {
      font-size: 12px;
      color: #818181;
      margin-left: 5px;
    }
  }

  .time {
    font-size: 12px;
    color: #818181;
  }
}

.card-footer {
  width: 100%;
  height: 42px;
  border-top: $su-border solid 1px;
  display: flex;
  align-items: center;
  padding-bottom: 5px;

  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .msg-icon {
    margin-left: 16px;
  }

  .text {
    margin-left: 12px;
    color: #66b0ff;
  }

  .favourite {
    position: relative;
    margin-left: auto;
    margin-right: 16px;
    margin-top: 5px;
    cursor: pointer;
  }

  .favourite:hover::after {
    content: attr(data-tips);
    position: absolute;
    font-size: 12px;
    white-space: nowrap;
    top: -50%;
    left: 100%;
    padding: 2px;
    background-color: #fff;
    border: #66b0ff solid 1px;
    color: #66b0ff;
  }
}
