.container {
    position: relative;
    width: 100%;
    height: 100%;
  
    .main-container {
      position: relative;
      border-top: solid 1px $su-border;
      padding: 0;
    }
    .pagination-bottom {
      position: absolute;
      bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      left: 0;
      right: 0;
    }
  }
  
  .background-img {
    position: absolute;
    //   top: 0;
  }
  