.container {
  position: relative;
  width: 100%;
  height: 100%;

  .main-container {
    position: relative;
    border-top: solid 1px $su-border;
    padding: 0;
    width: 100%;

    .answer-move,
    .answer-enter-active,
    .answer-leave-active {
      transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    }

    .answer-enter-from,
    .answer-leave-to {
      opacity: 0;
      transform: scaleY(0.01) translate(30px, 0);
    }

    .answer-leave-active {
      position: absolute;
    }

    .question-enter-active,
    .question-leave-active {
      transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    }

    .question-enter-from,
    .question-leave-to {
      opacity: 0;
      transform: scaleY(0.01) translate(30px, 0);
    }

    .background-img {
      position: absolute;
    }

    .image-container {
      position: absolute;
      bottom: 0;
      padding: 8px 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 8px;
      // background-color: #80808050;
      width: 100%;
      pointer-events: none;

      .picked-image {
        width: 11%;
        pointer-events: all;
        display: flex;
        justify-content: flex-end;

        .delete-btn {
          margin-top: -7px;
          margin-left: -12px;
          background-color: #fff;
          border-radius: 50%;
          width: 16px;
          height: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          padding: 2px;
          z-index: 1;
        }

        .image {
          width: 100%;
          aspect-ratio: 1/1;
          border-radius: 6px;
          border: solid 2px #fff;
          cursor: pointer;
        }
      }
    }
  }
  .ask-btn {
    position: absolute;
    bottom: 56px;
    right: 56px;
    width: 56px;
    height: 56px;
    background-color: $su-blue-dark;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateY(0);
    transition: all 0.3s ease;
  }

  .ask-btn:hover {
    transform: translateY(-10px);
  }
}

.card-highlight {
  animation: card-highlight-animation 1.5s linear forwards;
}

.fade-list-enter-active,
.fade-list-move {
  transition: all 0.5s ease;
}

.fade-list-leave-active {
  position: absolute;
  bottom: 0;
  opacity: 0;
}

.fade-list-enter-from {
  opacity: 0;
  transform: translateY(-50px) scale(0.3);
}

@keyframes card-highlight-animation {
  0% {
    background: #80808050;
  }
  100% {
    background: #80808000;
  }
}
