.card-container {
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
  width: 500px;
  margin-left: 24px;
  margin-bottom: 24px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition-property: all;
}

.card-container:hover {
  transform: translateY(-4px);
}

.card-body {
  position: relative;
  padding: 14px 20px 14px 20px;

  .news-dot {
    position: absolute;
    top: 18px;
    left: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #66b0ff;
  }

  .pin {
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
  }

  .pin:hover::after {
    content: attr(data-tips);
    position: absolute;
    font-size: 12px;
    white-space: nowrap;
    top: -30%;
    left: 110%;
    padding: 2px;
    border: #66b0ff solid 1px;
    color: #66b0ff;
  }
}

.q-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #66b0ff;
}

.q-body {
  display: flex;
  flex-direction: column;

  .text {
    white-space: pre-wrap;
    display: block;
    font-size: 14px;
    line-height: 1.25;
    color: #333;
    margin-bottom: 8px;
  }

  .photos-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    .preview-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 10px 10px;
    }
  }
}

.q-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .looks {
    display: flex;
    align-items: center;
    margin-right: 16px;

    .counts {
      font-size: 12px;
      color: #818181;
      margin-left: 5px;
    }
  }

  .time {
    font-size: 12px;
    color: #818181;
    /* margin-right: 16px; */
  }
}
