.bubble-answer {
    // background-color: #1887fd;
    display: flex;
    margin-bottom: 24px;
    width: 100%;

    .avatar {
        border: solid 2px #fff;
        cursor: pointer;
        :deep(img) {
            object-fit: cover;
            object-position: center top;
        }
    }

    .card-container {
        transition: transform 0.3s ease-in-out;
        transform: translateY(0);
        /* width: 464px; */
        border-radius: 12px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        transition-property: all;
        padding: 14px 18px 14px 18px;
        display: flex;
        flex-direction: column;
    }

    .card-container:hover {
        transform: translateY(-4px);
    }
}

.ans-title {
    display: flex;
    align-items: baseline;
    margin-top: -5px;
    margin-bottom: 10px;

    .nickname {
        font-weight: bold;
        color: #1887fd;
    }

    .suffixed-text {
        font-size: 0.8em;
        color: $su-grey;
    }
}

.ans-body {
    /* background-color: #77b9ff; */
    width: 100%;
    display: flex;
    flex-direction: column;

    .text {
        margin: 0 3px;
        display: block;
        line-height: 1.25;
        color: $su-grey-dark;
        margin-bottom: 8px;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }
}
